//  混入使用弹性布局
@mixin flex($justify, $flexDir: flase, $gap: 0rpx) {
  display: flex;
  align-items: center;
  @if $justify {
    justify-content: $justify;
  }
  @if $flexDir {
    flex-direction: $flexDir;
  }
  gap: $gap;
}

.index {
  width: 100vw;
  min-height: 100vh;
  background-color: #F8F8F8;
  padding-bottom: 146rpx;
  box-sizing: border-box;
  .container{
    padding-top: 90rpx;
    box-sizing: border-box;
    background: linear-gradient(180deg, #FFFFFF 77%, rgba(255, 255, 255, 0) 100%);
    .index-header {
      width: 100%;
      padding: 16rpx 32rpx;
      box-sizing: border-box;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 99;
      @include flex(space-between);
      background-color: rgb(255, 255, 255);
      .address {
        width: 200rpx;
        @include flex(center, null, 16rpx);
        image {
          width: 32rpx;
          height: 32rpx;
          display: block;
        }
        text {
          font-size: 28rpx;
          color: #000000;
          white-space: nowrap;
        }
      }
      .search {
        width: 430rpx;
        height: 56rpx;
        border-radius: 72rpx;
        padding-left: 32rpx;
        box-sizing: border-box;
        border: 2rpx solid #ff662a;
        font-size: 24rpx;
        color: rgba(0, 0, 0, 0.4);
        @include flex(flex-start);
      }
      .news {
        width: 32rpx;
        height: 32rpx;
        image {
          width: 100%;
          height: 100%;
        }
      }
    }
    .index-tool {
      padding-bottom: 32rpx;
      .tool-list {
        width: 100%;
        flex-wrap: wrap;
        @include flex(center, null);
        .tool-item {
          width: 25%;
          margin-top: 32rpx;
          @include flex(center, column,16rpx);
          image {
            width: 96rpx;
            height: 96rpx;
          }
          text{
            font-size: 24rpx;
            color: rgba(0, 0, 0, 0.9);
          }
        }
      }
    }
  }

  .index-activity{
    padding: 16rpx 32rpx;
    padding-top: 50rpx;
    box-sizing: border-box;
    @include flex(space-between,null);
    image{
      width: 328rpx;
      height: 208rpx;
      display: block;
    }
  }
  .index-pruducts{
    padding: 0 32rpx;
    margin-top: 24rpx;
    .products-list{
      @include flex(space-between,null,28rpx);
      flex-wrap: wrap;
      .products-item{
        width: 328rpx;
        height: 538rpx;
        background-color: #FFFFFF;
        border-radius: 16rpx;
        .img-box{
          margin-bottom: 20rpx;
          image{
            width: 328rpx;
            height: 328rpx;
            display: block;
            border-radius: 16rpx 16rpx 0 0;
          }
        }
        .item-title{
          width: 100%;
          padding: 0 16rpx;
          box-sizing: border-box;
          height: 65rpx;
          color: #3D3D3D;
          font-size: 24rpx;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2; /* 控制显示的行数 */
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .official{
          font-size: 20rpx;
          font-weight: 500;
          margin-top: 16rpx;
          padding-left: 16rpx;
          box-sizing: border-box;
          @include flex(flex-start,null,8rpx);
          .off-box{
            width: 92rpx;
            height: 32rpx;
            text-align: center;
            line-height: 32rpx;
            &:nth-of-type(1){
              background: rgba(255, 178, 178, 0.3);
              color: #E01717;
            }
            &:nth-of-type(2){
              background: rgba(138, 253, 112, 0.3);
              color: #30BD10;
            }
          }
        }
        .price{
          margin-top: 16rpx;
          @include flex(flex-start,null,8rpx);
          text{
            &:nth-of-type(1){
              font-size: 28rpx;
              font-weight: 900;
              color: #E01717;
            }
            &:nth-of-type(2){
              text-decoration: line-through;
              font-size: 24rpx;
              color: rgba(0, 0, 0, 0.4);
            }
          }
        }
      }
    }
  }
}