@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('/iconfont.ttf?t=1688780386743') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anzhuologo:before {
  content: "\e679";
}

.icon-ios:before {
  content: "\e64b";
}

